<a href="#mainContent" class="skip-link">Skip to content >></a>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="logo" src="./images/logo1.png" alt=""></a>
      <button id="hamburgerButton" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        ☰
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent navigationDrawer">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Histori Keuangan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tentang">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Yovanta/budgetin">Hubungi Kami</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/masuk"><img class="user" src="./images/user.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
